@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: PoppinsRegular;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-bg::before {
  content: "";
  display: block;
}

.social-item:hover {
  color: grey;
}

.title-shadow {
  text-shadow: 4px 4px 10px #000;
}

.text-spacing-9 {
  letter-spacing: -0.56rem;
}

.text-spacing--9 {
  letter-spacing: -9%;
}

.bg-gradient-gray {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%);
}

.h-124-8 {
  height: 124.8rem;
}

.text-big {
  font-size: 140rem;
  border: 1px solid red;
}

div {
  line-height: 1;
}